

  .about {
    width: 100%;
    padding: 78px 0px;
  }

  .about img {
    height: auto;
    width: 420px;
  }

  .about-text {
    width: 550px;
  }

  .about-text h1 {
    color: rgb(195, 25, 25);
    font-size: 80px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

